{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "babel",
    "promise",
    "react-hooks"
  ],
  "env": {
    "node"    : true,
    "es6"     : true,
  },
  "globals": {},
  "rules": {
    "prettier/prettier":                   "warn",
    "react-hooks/rules-of-hooks":          "error",
    "react-hooks/exhaustive-deps":         "warn",
    "no-console":                          "warn",
    "react/jsx-no-bind":                  ["warn", { "allowArrowFunctions": true, "allowBind": false, "allowFunctions": false, "ignoreRefs": false }],
    "implicit-arrow-linebreak":           0,
    "newline-per-chained-call":           [2, { "ignoreChainWithDepth" : 2 }],
    "object-curly-newline":               [2, { "consistent": true }],
    "no-else-return":                     [2, { "allowElseIf" : true }],
    "arrow-parens":                       0,
    "react/jsx-closing-bracket-location": [1, { "nonEmpty" : "after-props", "selfClosing": "tag-aligned" }],
    "no-underscore-dangle":               0,
    "comma-dangle":                       0,
    "max-len":                            [1, 120, 2, { "ignoreComments": true} ],
    "key-spacing":                        [0, { "align": "value" }],
    "jsx-quotes":                         [2, "prefer-single"],
    "no-multi-spaces":                    ["error", { "exceptions": { "VariableDeclarator": true, "ImportDeclaration" : true } }],
    "space-before-function-paren":        ["error", {"anonymous": "never", "named": "never", "asyncArrow" : "always"}],
    "semi":                               [2, "always" ],
    "react/no-typos":                     "error",
    "no-unused-vars":                     ["error", { "args" : "none" }],
    "react/jsx-filename-extension":       0
  }
}
